<!-- change_password.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
</head>
<body>
    <h1>Change Password</h1>
        {% for message in get_flashed_messages() %}
            <p class="error">{{ message }}</p>
        {% endfor %}
    <form method="post" action="{{ url_for('user.change_password') }}">
        <label for="current_password">Current Password:</label>
        <input type="password" name="current_password" id="current_password" required>
        <hr>
        <label for="new_password">New Password:</label>
        <input type="password" name="new_password" id="new_password" required>
        <hr>
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" name="confirm_password" id="confirm_password" required>
        <hr>
        <input type="submit" value="Change Password">
    </form>
    <a href="{{ url_for('user.profile') }}">Back to Profile</a>
</body>
</html>