<!DOCTYPE html>
<html>
<head>
    <title>Payment</title>
    <script src="https://www.paypal.com/sdk/js?client-id=AZrtKHauKdGTjaOXM3jyIVdf9c9Z6pl1Fchr743J0Mgb1m9az1jJ0iG7YBAOY6_6iQUkMcPBc1eR-uNe"></script>
    <script>
        function initPayPalButton() {
            paypal.Buttons({
                createOrder: function(data, actions) {
                    return actions.order.create({
                        purchase_units: [
                            {
                                amount: {
                                    currency_code: 'USD',
                                    value: '{{ price }}'
                                }
                            }
                        ]
                    });
                },
                onApprove: function(data, actions) {
                    return actions.order.capture().then(function(details) {
                        // Отправка данных на сервер
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', '/api/paypal');
                        xhr.setRequestHeader('Content-Type', 'application/json');
                        xhr.onload = function() {
                            if (xhr.status === 200) {
                                alert('Payment completed successfully!');
                                window.location.href = '/';
                            } else {
                                alert('Error occurred during payment. Please try again.');
                            }
                        };
                        var data = JSON.stringify({
                            username: '{{ username }}',
                            price: '{{ price }}',
                            id: '{{ id }}'
                        });
                        xhr.send(data);
                    });
                },
                onError: function(err) {
                    // Обработка ошибок при проведении платежа
                    console.error(err);
                    alert('Error occurred during payment. Please try again.');
                }
            }).render('#paypal-button-container');
        }
        initPayPalButton();
    </script>
</head>
<body>
    <div class="put-up-lot-variant2">
        <div class="header">
            <div class="logo">
                <img
                  alt=""
                  class="img"
                  src="https://static.overlay-tech.com/assets/dc3b0d8c-ab90-4d46-bafb-9ed369b84a60.png"
                />
                <div class="txt">
                  <p class="watch-auct">
                    WATCH<br />
                    auct
                  </p>
                  <div class="ellipse-1"></div>
                </div>
              </div>
              <p class="hi-marlin">Hi, Marlin</p>
    </div>
    <p class="payment">Payment</p>
  <div class="frame-225">
    <p class="user-someus">User: someus</p>
    <p class="lot-id-548763840">Lot ID: 548763840</p>
  </div>
<div id="paypal-button-container" style="  background-color: rgba(255, 149, 5, 1); margin-bottom: 41.64px; margin-left: 784px;  padding: 11px 98px;  display: flex; flex-direction: column;  align-items: center;"></div>

</div>
    
</body>
</html>
